@import "tailwindcss";

@theme {
  --color-lumiere-base: #F9F8F4;
  --color-lumiere-dark: #2C2C2C;
  --color-lumiere-grey: #8A8A8A;
  --color-lumiere-gold: #D4AF37;
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-lumiere-base text-lumiere-dark font-sans antialiased;
    overflow-x: hidden; /* Mencegah scroll samping horizontal */
  }
}

@layer utilities {
  .text-gold-shine {
    background: linear-gradient(135deg, #B88A44 0%, #E5C579 25%, #FFD700 50%, #E5C579 75%, #B88A44 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  /* Animasi Marquee */
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}